<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <h3>제품 상세보기</h3>
    <table>
        <tr>
            <td>product id : [[${data.productId}]]</td>
            <td>category id : [[${data.category}]]</td>
            <td>브랜드 : [[${data.brand}]]</td>
            <td>모델 : [[${data.model}]]</td>
            <td>가격 : [[${data.price}]] 원</td>
            <td>재고량 : [[${data.stockQuantity}]] 개</td>
            <td>
                <img th:src="@{'upload/' + ${data.pimage}}" />
            </td>
        </tr>
        <tr>
            <td><button>카트에 담기</button></td>
            <td><button>주문하기</button></td>
        </tr>
        <tr>
            <td><a
                    th:href="@{/productupdate(productId=${data.productId},page=${page},pimage=${data.pimage},dimage=${data.dimage})}">상품
                    수정</a></td>
            <td>
                <input type="button" value="상품삭제" id="btnDel" />
            </td>
        </tr>
        <tr>
            <a th:href="@{/reviewinsert(productId=${data.productId})}">리뷰쓰기</a>
        </tr>
        <tr>
            <td><a th:href="@{/pimagedelete(productId=${data.productId})}">상품이미지 삭제</a></td>
            <td><a th:href="@{/dimagedelete(productId=${data.productId})}">상세이미지 삭제</a></td>
        </tr>
    </table>

    <br>
    <img th:src="@{'upload/' + ${data.dimage}}" />

    <script>
        document.getElementById("btnDel").addEventListener("click", function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                // 확인 버튼을 누른 경우 AJAX 요청을 통해 상품 삭제를 수행
                var productId = "${data.productId}";
                var page = "${page}";
                deleteProduct(productId, page);
            }
        });

        function deleteProduct(productId, page) {
            // AJAX 요청을 사용하여 상품 삭제를 수행
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/deleteProduct?productId=" + productId + "&page=" + page, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 삭제가 성공적으로 처리된 경우
                    alert("상품이 삭제되었습니다.");
                    window.location.href = "/productlist"; // 상품 목록 페이지로 이동
                }
            };
            xhr.send();
        }
    </script>
</body>

</html>
