<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function confirmDeletion() {
    return confirm("정말 삭제하시겠습니까?");
}

// 삭제 버튼 클릭 시 확인 대화상자 표시
function deleteProduct() {
    if (confirmDeletion()) {
        // 확인한 경우, 삭제 작업을 진행할 링크로 이동
        window.location.href = "[[@{/delete(product_id=${data.product_id},page=${page})}]]";
    }
}

</script>
<script>
$(".addCart_btn").click(function(){
    var gdsNum = $("#gdsNum").val();
    var cartStock = $(".numBox").val();
        
    var data = {
        gdsNum: gdsNum,
        cartStock: cartStock
    };
     
    $.ajax({
        url: "insertcart",
        type: "post",
        data: data,
        success: function(result) {
            alert("카트 담기 성공");
            $(".numBox").val("1");
        },
        error: function() {
            alert("카트 담기 실패");
        }
    });
});
</script>

</head>
<body>
<h3>제품 상세보기</h3>
<table>
	<tr>
		<td>product id : [[${data.product_id}]]</td>
		<td>category id : [[${data.category_id}]]</td>
		<td>브랜드 : [[${data.brand}]]</td>
		<td>모델 : [[${data.model}]]</td>
		<td>가격 : [[${data.price}]]</td>
		<td style="width:20%; text-align: right;"> 
            <img src="[[${filename1}]]"/> 
         </td>
         <td style="width:20%; text-align: right;"> 
            <img src="[[${filename2}]]"/> 
         </td>
	</tr>
	<tr>
		<td>재고량 : [[${data.stock_quantity}]]</td>
		<td>출시일 : [[${data.release_date}]]</td>
		<td>사양 : [[${data.specifications}]]</td>
	</tr>
	<tr>
		<td>보증기간 : [[${data.warranty_period}]]</td>
		<td>무게 : [[${data.weight}]]</td>
		<td>수치 : [[${data.dimensions}]]</td>
	</tr>	
	<tr>
		<td colspan="3">
			<textarea ows="5" style="width: 98%" readonly="readonly">[[${data.description}]]</textarea>
		</td>
	</tr>
	<tr>	
    <td><input type="hidden" id="gdsNum" value="${data.product_id}" /></td>
    <td><input type="number" class="numBox" value="1" /></td>
    <td><button type="button" class="addCart_btn">카트에 담기</button></td>
		<td><button>주문하기</button></td>
	</tr>
	<tr>
		<td><a th:href="@{/update(product_id=${data.product_id},page=${page})}">상품 수정</a></td>
    <td><a href="javascript:void(0);" onclick="deleteProduct()">상품 삭제</a></td>
	</tr>
	<tr>
		<a th:href="@{/reivewinsert(product_id=${data.product_id})}">리뷰쓰기</a>
	</tr>
</table>
</body>
</html>