<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/product.css" />
</head>
<body>
	<th:block th:replace="header::headerFragment"></th:block>
	<div id="sub_con">
		<div class="flex">
			<div class="prod_list">
<form th:if="${list.size() > 0}" th:each="data : ${list}">
	<div class="prod_img">
   <a th:href="@{/showproduct(productid=${data.productid},page=${page})}">
				 <img th:src="@{upload/}+${data.pimage}" /></a>
	</div>   
			<p class="brd_name" th:text="${data.brand}"/>
			<p class="prd_name" th:text="${data.model}"/>
            <p class="price" th:text="${#numbers.formatInteger(data.price, 3, 'COMMA') + '원'}"/>
           
 </form>  
  </div>       
 	
		</div>
		<br><br><br>
		 <!-- paging -->
	 <div class="paging">
<span th:each="num : ${#numbers.sequence(1, pagesu)}">
    <span th:if="${num == page}">
        <b th:text="${num}">num 표시(현재 페이지는 링크를 걸지 않음)</b>
    </span>
    <span th:if="${num != page}">
        <a th:href="@{productlist(page=${num})}" th:text="${num}">num 표시</a>
    </span>
</span>
</div>
<br/>
		<div class="search">
		<form action="/productsearch" method="get">
		  <select name="searchName"><span class="material-symbols-outlined">expand_more</span>
			<option value="brand" selected>브랜드</option>
			<option value="model">모델</option>
		  </select>
		  <input class="search_text" type="text" name="searchValue">
		  <button class="searchicon" type="submit"><span class="material-symbols-outlined">search</span></button>
		</form>
		</div>
	</div>

 <th:block th:replace="footer::footerFragment"></th:block>
</body>
</html>
