<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript">
		window.onload = function () {
			let btnIns = document.getElementById("btnIns");
			btnIns.addEventListener("click", checkData);
		}

		function checkData() {
			if (frm.rating.value === "") {
				alert("별점을 입력하시오");
				frm.rating.focus();
				return;
			}

			if (frm.comment.value === "") {
				alert("상품평을 입력하시오");
				frm.comment.focus();
				return;
			}

			frm.submit();
		}
		
	</script>
</head>

<body>
	<h3>리뷰 등록</h3>
	<form class="mb-3" action="reviewinsert" name="frm" id="frm" method="post" enctype="multipart/form-data">
                  <fieldset>
                     <span class="text-bold"></span>
                     
                     <input type="radio" name="rating"
                        th:id="'rate5_' + ${iterStat.index + 1}" value="5" />
                     <label th:for="'rate5_' + ${iterStat.index + 1}">★</label>

                     <input type="radio" name="rating"
                        th:id="'rate4_' + ${iterStat.index + 1}" value="4" />
                     <label th:for="'rate4_' + ${iterStat.index + 1}">★</label>

                     <input type="radio" name="rating"
                        th:id="'rate3_' + ${iterStat.index + 1}" value="3" />
                     <label th:for="'rate3_' + ${iterStat.index + 1}">★</label>

                     <input type="radio" name="rating"
                        th:id="'rate2_' + ${iterStat.index + 1}" value="2" />
                     <label th:for="'rate2_' + ${iterStat.index + 1}">★</label>

                     <input type="radio" name="rating"
                        th:id="'rate1_' + ${iterStat.index + 1}" value="1" />
                     <label th:for="'rate1_' + ${iterStat.index + 1}">★</label>
                     <!-- id의 값이 똑같으면 동시에 다른 행들의 별점들 중복선택이 불가해서 id값 따로 -->
                  </fieldset>
                 <input type="hidden" name="product_id" th:value="${product_id}" />
		<table style="width: 80%">
			<tr>
				<td>상품평</td>
				<td><textarea type="text" name="comment"></textarea></td>
			</tr>
			<tr>
				<td>리뷰 이미지</td>
				<td><input type="file" size="30" name="rimagePath"></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<input type="button" value="등록" id="btnIns" />
					<input type="button" value="목록" onclick="location.href='reviewlist'" />
				</td>
			</tr>
		</table>
               </form>
	
</body>

</html>